<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="./Images/download.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taking App</title>
    <link rel="stylesheet" href="./stylesheets/gettask.css">
</head>
<body>
    <form action="">
        <input type="text" id="title" placeholder="Enter Your Note title Here">
        <input type="text" id="note" placeholder="Enter Your Note Here">
        <a href="http://localhost:3000/" id="btn">Create Note</a>
    </form>
    <div class="developer">Developed By Hafiz Abdullah Anwar</div>
    <script src="./javascripts/gettask.js"></script>
</body>
</html>